<%= @loc_hash %>

<h1>Should I take an umbrella?</h1>

<dl>
  <dt>User's location</dt>
  <dd><%= @user_location %></dd>

  <dt>Latitude</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude</dt>
  <dd><%= @longitude %></dd>
</dl>

<a href="/umbrella">Go back</a>
