<h1>Should I take an umbrella?</h1>

<form action ="/process_umbrella">
<label for="dogs">Where are you located?</label>
<input id ="dogs" type="text" name="user_loc">

<button>Submit</button>
</form>
