<h1>Should I take an umbrella?</h1>

<form action ="/process_umbrella" method="post">
<label for="dogs">Where are you located?</label>
<input id ="dogs" type="text" name="user_loc">

<button>Submit</button>
</form>

<p>You last searched for:</p>

<ul>
<li><%= cookies[last_location] %></li>
<li><%= cookies[last_lat] %></li>
<li><%= cookies[last_lng] %></li>

</ul>
